 /* ======================Start Variables====================== */
:root {
    --main-font: 'Poppins', sans-serif;
    --card-landing-bgcolor: linear-gradient(rgba(0, 0, 0, 0.5), #009688);
    --seciton-padding:50px 0px;
}
 /* ======================End Variables====================== */
/*  ======================Start Global Rules======================*/
body{
    font-family: var(--main-font);
}
.container {
    padding: 50px 0px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width:320px) {
    .container{
        width: 290px;
    }
}
@media (min-width:425px) {
    .container{
        width: 350px;
    }
}
@media (min-width: 768px) {
    .container {
        width: 500px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.main-heading{
    text-align: center;
    padding-bottom: 50px;  
}
.main-heading p{
    color: #009688;
    font-weight: 600;
    font-size: 1.5em;
    position: relative;
    z-index: 2;
}
.main-heading p::before{
    content:'';
    position: absolute;
    background: linear-gradient(#019587, #fff);
    z-index: -1;
    width: 50px;
    height: 35px;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    top: -20px;
    transform: rotate(10deg);

}
.main-heading h1{
    font-size: 3em;
    margin: 0%;
    font-weight: bold;
}
@media (max-width:768px) {
    .main-heading h1{
        font-size: 1.5em;
    }
}
/*  ======================End Global Rules======================*/
/*  ======================Start Landing======================*/
.landing{
    background: var(--card-landing-bgcolor);
    background-image: url(banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    position: relative;
}
.landing img{
    position: absolute;
    top: 5%;
    left: 10%;
    width: 180px;
}
.landing .container{
    text-align: center;
    color: white;
    margin-top: 200px;
}
.landing .container h1{
    font-size: 5em;
    font-family: 'Kaushan Script', cursive;
    margin: 0 0 30px;
}
.landing .container p{
    font-size: 1.3em;
    font-style: italic;
    text-transform: capitalize;
    margin: 0 0 60px;
}
.buttons{
    display: flex;
    gap: 30px;
    justify-content: center;
}
.buttons a{
    color: white;
    width: 120px;
    text-decoration: none;
    font-size: 1em;
    border: 0.5px solid white;
    padding: 10px 20px;
    position: relative;
    transform-origin: left;
    transition: 1s;
    z-index: 1;
}
.buttons a:hover{
    color: black;
}
.buttons a::before{
    transition: 1s;
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: white;
    width: 0;
    z-index: -1;
}
.buttons a:hover::before{
    transform-origin: right;
    width: 100%;
}
/*  ======================End Landing======================*/
/*  ======================Start Featuers======================*/
.features{
    padding: var(--seciton-padding);
}
.features-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.features-content .features-info, .features-content .image{
    flex-basis: 50%;
}
.features-content .image{
    text-align: center;
}
.features-content .image img{
    width: 70%;
    border-radius: 10px;
}
.features-content .features-info .box{
    width: 80%;
}
.features-info .box h2{
    color: #009688;
    margin-bottom: 10px;
}
.features-info .box .box-info{
    display: flex;
    align-items: center;
}
.features-info .box .box-info i{
    padding: 10px;
    border: 1px solid #009688;
    color: #009688;
    font-size: 1.5em;
    margin-right: 20px;
    border-radius: 10px;
}
.features-info .box .box-info p{
    line-height: 1.6;
}
@media (max-width:768px) {
    .features-content .features-info, .features-content .image{
        flex-basis: 100%;
    }
    .features-info .box{
        min-width: 100%;
    }
}
/*  ======================End Featuers======================*/
/*  ======================Start Services======================*/
.services{
    background-color: #eee;
    padding: var(--seciton-padding);
}
.services-info{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px 10px;
}
.services-info .box{
    width: 45%;
    overflow: hidden;
    position: relative;
}
.services-info .box img{
    width: 100%;
    border-radius: 10px;
}
@media (max-width:768px) {
    .services-info .box{
        width: 100%;
    }
}
.services-info .box .text{
    position: absolute;
    color: white;
    top: 100%;
    transform: translateY(0%);
    transition: 0.5s;
    max-width: 100%;
    text-align: center;
}
.services-info .box .text hr{
    width: 50%;
}
.services-info .box .text p{
    width: 60%;
    margin: auto;
}
@media (max-width:425px) {
    .services-info .box .text p{
        width: 80%;
        font-size: 0.9em;
    }
    
}
.services-info .box:hover .text{
    top: 50%;
    transform: translateY(-50%);
}
.services-info .overlay{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - 4px);
    width: 100%;
    background:var(--card-landing-bgcolor);
    opacity: 0%;
    transition: 0.5s;
    border-radius: 10px;
}
.services-info .box:hover .overlay{
    opacity: 100%;
}
/*  ======================End Services======================*/
/*  ======================Start Testimonial======================*/
.testimonial{
    padding: var(--seciton-padding);
}
.testimonial .container{
    width: 90%;
}
.testimonial .reviews{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    align-items: flex-start;
    gap: 10px;
}
.testimonial .reviews .box{
    display: flex;
    flex-basis: 28%;
    padding: 20px;
    flex-direction: column;
    box-shadow: 0px 0px 10px 2px rgba(7, 156, 116, 0.2);
    transition: 0.5s;
    height: fit-content;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left:auto ;
    margin-right:auto ;
}
@media (max-width:768px) {
    .testimonial .reviews .box{
        flex-basis: 100%;
    }
}
.testimonial .reviews .box:hover{
    transform:translateY(-10px);
}
.testimonial .reviews .box .top-section{
    display: flex;
    align-items: flex-start;
    gap: 20px;
}
.testimonial .reviews .box .top-section img{
    width: 50px;
    border-radius: 10px;
}
.testimonial .reviews .box .top-section h3{
    margin: 0px 0px 5px;
}
.testimonial .reviews .box .top-section a{
    text-decoration: none;
    color: #009688;
}
.testimonial .reviews .box .top-section i{
    color: #1DA1F2;
    font-size: 1.6em;
}
.testimonial .reviews .box .bottom-section p{
    line-height: 1.6;
}
/*  ======================End Testimonial======================*/
/*  ======================Start Footer======================*/
.footer{
    padding: var(--seciton-padding);
    background-color: #eee;
    position: relative;
}
.footer img{
    position: absolute;
    max-width: 400px;
    top: -10px;
    left: 50%;
    transform: translatex(-50%);
    opacity: 0.1;
    z-index: 124;
}
.footer .contact-info{
    display: flex;
    justify-content: space-between;
}
@media (max-width:768px) {
    .footer .contact-info{
        flex-direction: column;
        text-align: center;
    }
    .footer img{
        max-width: 100%;
        top: 50px;
    }
}
.footer .contact-info i{
    color: #009688;
}
.footer .contact-info .contact-hours{
    text-align: start;
}
.footer .contact-info .contact-online{
    text-align: end;

}
.footer .social-media{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.footer .social-media .icon{
    font-size: 1.5em;
    text-decoration: none;
    border: 1px solid #009688;
    color: #009688;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border-radius: 5px;
    transition: 0.5s;
}
.footer .social-media .icon:hover{
    transform: scale(1.1);
}
/*  ======================End Footer======================*/
